@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #7C3AED;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.center{
    text-align: center;
}

.link{
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    text-align: center;
    display: inline-block;
}

.link-primary{
    background-color: var(--primary-color);
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.list-remove-dots{
    list-style: none;
}

.list-inline{
    display: inline;
    padding-right: 2rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 0 1rem 0;
    border-bottom-left-radius: 0.5rem;
}

.list-move-right{
    text-align: right;
}

.brand{
    font: bold;
 }

.navigation .link{
    color: white;
}


header{
    text-align: center;
    padding-top: 2rem;
}

.hero-image{
    max-width: 350px;
}

.hero-heading{
    color: var(--dark-gray);
    padding-bottom: 3rem;
}

.color-invert{
    color: var(--primary-color);
}

.ow{
    background-color: var(--off-white);
    margin-top: 3rem;
}

.sec{
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 2rem;
}

.footer-color{
    background-color: var(--primary-color);
    border-top-right-radius: 0.5rem;
    color: white;
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
    padding: 5rem;
    margin-top: 3rem;
}

